*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#f4f4f4;
}

/* NAVBAR */

.navbar{
  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:20px 40px;

  background:#111827;
}

.logo{
  color:white;

  text-decoration:none;

  font-size:24px;

  font-weight:bold;
}

.menu{
  display:flex;

  gap:30px;

  list-style:none;
}

.menu a{
  color:#ddd;

  text-decoration:none;

  transition:0.3s;
}

.menu a:hover{
  color:#f59e0b;

  text-decoration:underline;
}

.auth{
  display:flex;

  gap:10px;
}

.auth a{
  text-decoration:none;

  padding:10px 16px;

  border-radius:8px;
}

.login{
  border:1px solid #f59e0b;

  color:#f59e0b;
}

.register{
  background:#f59e0b;

  color:white;
}

/* SECTION */

.section{
  max-width:1300px;

  margin:40px auto;

  padding:0 20px;
}

.section h1{
  margin-bottom:30px;
}

/* GRID */

.card-grid{
  display:flex;

  flex-wrap:wrap;

  gap:20px;
}

/* CARD */

.card{
  flex:0 0 calc(25% - 20px);

  background:white;

  border-radius:14px;

  overflow:hidden;

  display:flex;

  flex-direction:column;

  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);

  box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

.img{
  height:160px;

  background:#fde68a;

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:60px;
}

.body{
  padding:20px;

  display:flex;

  flex-direction:column;

  flex:1;
}

.body h2{
  margin-bottom:10px;
}

.body p{
  color:red;

  margin-bottom:20px;
}

.body button{
  margin-top:auto;

  padding:12px;

  border:none;

  border-radius:8px;

  background:#111827;

  color:white;

  cursor:pointer;
}