:root {
  --color-primary: #00c2ff;
  --color-secondary: #7d5fff;

  --bg-dark: #0f172a;
  --bg-card: #1e293b;

  --text-light: #f8fafc;
  --text-gray: #94a3b8;

  --border-color: rgba(255,255,255,0.08);

  --shadow:
    0 10px 30px rgba(0,0,0,0.25);

  --radius: 18px;

  --font-main: "Segoe UI", sans-serif;
}